:root {
  --color-active:   #007bff;
  --color-danger:   #dc3545;
  --color-success:  #28a745;
  --color-text:     #66666e;
  --color-dark:     #33333c;
  --color-light:    #ccccce;
  --color-lightest: #eeeeef;

  --weight-bold: 600;
  --weight-black: 700;
}

html, body {
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  color: var(--color-text);
}

h1, h2 {
  border-bottom: 1px solid #ccccce;
}

/* Normalize margins on block elements */
h1, h2, h3, h4, h5, h6,
p, ul, ol, table {
  margin: 0 0 1em 0;
}

ul, ol {
  padding: 0;
  padding-left: 1em;
}

a {
  cursor: pointer;
}

.Panel-header {
  font-weight: var(--weight-black);
  padding: 0.5em;
  border-bottom: 1px solid var(--color-lightest);
  color: var(--color-dark);

  display: flex;
  justify-content: flex-start;
}

.Panel-header :first-child {
  flex: 1;
}

.Panel-body {
  overflow-y: scroll;
}

.Panel-body p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.List a {
  text-decoration: none;
  color: inherit;
}

.List a:hover {
  text-decoration: underline;
}

.List .List-item {
  padding: 0.25em 0.2em;
  text-indent: 0.2em; /* All list items get some padding regardless of indent  */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.List .List-item.isUnread {
  font-weight: var(--weight-bold);
}

.List .List-item.isSelected {
  background: var(--color-lightest);
}

.List .List-item .hasError {
  color: var(--color-danger);
}

/* 
  Layout Helpers 
*/
.layout-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.layout-1of3 {
  flex: 1;
}

.layout-2of3 {
  flex: 2;
}

/* 
  Icons 
*/
.Icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  vertical-align: middle;
  margin-top: -0.125em;   /* Adjusts vertical alignment */
  margin-right: 0.1em;    /* Adds some space when used inline */
}

.Icon.StatusIndicator {
  transition: fill ease-out 500ms;
}
.Icon.StatusIndicator.isRead { 
  fill: var(--color-light); 
}
.Icon.StatusIndicator.isUnread { 
  fill: var(--color-active); 
}
.Icon.StatusIndicator.hasError { 
  fill: var(--color-danger); 
}

.Icon.Folder {
  fill: var(--color-dark);
  transition: transform ease-out 250ms;
  transform-origin: 50% 50%;
}
.Icon.Folder.isExpanded {  transform: rotate(90deg); }
.Icon.Folder.isCollapsed { transform: rotate(0deg);  }