# Ignore build artifacts and other files.
.DS_Store
extension/dist
node_modules
web-ext-artifacts
webpack-profile-data.json

# Ignore my junk drawer of ideas
TODO
scratch

# Ignore log files
yarn-error.log
